<div class="tasks-container">
  <div class="header">
    <mat-button-toggle-group
       name="sort"
       [value]="sortBy"
       (change)="onSortChange($event.value)"
       appearance="legacy"
       aria-label="Sort Tasks">
      <mat-button-toggle value="priority">Sort by Priority</mat-button-toggle>
      <mat-button-toggle value="date">Sort by Creation Date</mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-raised-button color="primary" (click)="openAddTaskDialog()">+ Add Task</button>
  </div>

  <ng-container *ngIf="tasks.length; else noTasks">
    <div class="task-list-grid">
      <app-task-card *ngFor="let task of tasks; let i = index"
                     [task]="task"
                     [index]="i">
      </app-task-card>
    </div>
  </ng-container>

  <ng-template #noTasks>
    <div class="no-tasks">
      No Tasks.
    </div>
  </ng-template>
</div>
